html, body, head,h1, input{ 
		margin:			0;
		padding:  		0;
		background-image: url("house.jpg"); 
}

input{
	text-align: 		center; 
}

#pw, #username{
	position: 			relative;
	text-align: 		left;
}

#loginForm{
	border: 			2px solid grey;
	position: 			fixed;
	top: 				50%;
	background-color: 	white;
	width: 				250px;
	left: 				50%;
	transform: 			translate(-50%, -50%);
	padding: 			1em;
}

table{
	position: 			relative;
	width:				100%;
	color: 				black;
	text-align: 		center;
	top:				20px;
}

table td:last-child input[type="button"]:first-child {
	margin-right: 1em;
}

td{
	padding: 			10px;
}