html body { 
	margin: 2em auto;
	background-image: url("house.jpg"); 
	background-repeat: no-repeat;
	width: 75%;
}

h1, input{
	margin:			0;
	padding:  		0; 
}

#header{
	width: 				100%; 
	background-color: 	#000000;
	opacity: 			0.9;

}

a{
	text-decoration: 	none;
	color: 				white;
}

#login{
	position: 			relative;
	top: 				0;
	right: 				5em;
	position: 			fixed;
}
#register{
	position: 			relative;
	top: 				0;
	right: 				0;
	position: 			fixed;
}

h1{
	position: 			relative;
	text-align: 		center;
	font-size: 			48px;
	color: 				white;

}

#submit{
	position: 			relative;
	top: 				50%;
	width: 				10%;
}